@mixin filterContrast($contrastValue, $saturateValue, $sepia, $brightnessValue)
  -webkit-filter: contrast($contrastValue) saturate($saturateValue) sepia($sepia) brightness($brightnessValue)
  -ms-filter: contrast($contrastValue) saturate($saturateValue) sepia($sepia) brightness($brightnessValue)
  -moz-filter: contrast($contrastValue) saturate($saturateValue) sepia($sepia) brightness($brightnessValue)
  -o-filter: contrast($contrastValue) saturate($saturateValue) sepia($sepia) brightness($brightnessValue)
  filter: contrast($contrastValue) saturate($saturateValue) sepia($sepia) brightness($brightnessValue)

%bg-image-01
  background: url('../img/img_01.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover

%bg-image-02
  background: url('../img/img_02.jpg') no-repeat center center fixed
  -webkit-background-size: cover
  -moz-background-size: cover
  -o-background-size: cover
  background-size: cover